<!-- home.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Madeleine Gallegos Lyons</h1>
      <h2>I'm a computer science student from University of Montana</h2>
      <a href="about.html" class="btn-about">About Me</a>
    </div>
  </section><!-- End Hero -->

{% endblock content %} 